
<div class="toolbar" role="banner">
  <!-- toolbar -->
  <img
    width="200"
    alt="Evolucional Logo"
    src="https://evo-prod.s3.amazonaws.com/evaluations-files/2021/12/logoevoHori_22a4a2b3-1799-4d6f-aa70-0248623ffc4b.png"
  />
</div>

<!--backButton-->
<div class="backButton">
  <button onclick="history.back()" style="background-color: #060181; align-self: center " mat-fab aria-label="save icon">
    <mat-icon style="margin-left: 5px">arrow_back_ios</mat-icon>
  </button>

</div>
<!--body-->
<div class="formBody">
  <!--form-->
  <div>
    <h2 >Classe</h2>
    <mat-icon style="color: #060181; padding-right: 10px;" aria-label="save icon">class</mat-icon>
    <mat-form-field  style=" width: 300px" appearance="legacy">
      <input style="padding: 5px; width: 100%;" placeholder="Ex: A" matInput type="text">
    </mat-form-field>
    <!--saveButton-->
    <div style="justify-content: center; padding: 0; display: flex; margin: 0;">
      <button mat-fab style="background-color: #060181; align-self: center " aria-label="save icon">
        <mat-icon>save_alt</mat-icon>
      </button>
    </div>

  </div>

</div>
